@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Delete";
}

<h2 class="display-4">Eliminar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Eliminar" class="btn btn-danger" />
    <a href="@Url.Action("Index", "Owners")" class=" text-white btn btn-dark" style="margin-left:20px;">Regresar</a>
</div>
    }
</div>
