@model Veterinaria.Web.Models.Owner

@{
    ViewBag.Title = "Details";
}

<h2 class="display-4">Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div class="col-md-offset-2 col-md-10">
    <a href="@Url.Action("Edit", "Owners", new { id = Model.Id })" class=" text-white btn btn-warning" style="margin-left:20px;">Editar</a>
    <a href="@Url.Action("Index", "Owners")" class=" text-white btn btn-danger" style="margin-left:20px;">Regresar</a>

</div>
