@{
    ViewBag.Title = "Acerca de nosotros";
}
    <div class="container-fluid ">
        <h2 class="display-3">@ViewBag.Title</h2>

        <hr />

        <div class="col-md-12 justify-content-center">
            <h3 class="display-4 text-center font-weight-bolder bg-dark text-white">Veterinaria Mr Doctor</h3>

            <img src="~/Content/Img/vetfachada.jpg" class="d-inline-block align-top rounded-lg " alt="Veterinaria" style="width:100%; height:60%;">


        </div>
        <div class="col-md-12">

            <p class="lead text-justify">Somos una veterinaria la cual se dedica a atender diferentes tipos de mascotas dentro de tijuana en distintas sucursales,
            y ahora trabajando mediante una pagina web es mas eficiente nuestro trato con los clientes.</p>


        </div>
        <div class="col-md-12 ">
            <img src="~/Content/Img/perfilVet.jpg" width="200" height="200" class="rounded-circle rounded mx-auto d-block" alt="Perfil">
            <p class="font-italic text-center">Veterinario: Hernandez Lopez Leonel</p>

        </div>


    </div>