@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron jumbotron-fluid bg-dark  border border-light  rounded-0 " @*style="background-color: #1353b9;*@">
        <div class="container">
            <h1 class="display-1 text-center text-light">Veterinaria Mr doctor</h1>
            <br />
            <p class="lead text-center text-light font-italic">La mejor veterinaria para el cuidado de tus mascotas.</p>

        </div>
    </div>

